<div class="app-description jumbotron">
  <h1>Analyze ATP tennis player activity</h1>
  <p class="lead">ATP Stat is an analytics service of atp tennis player activity.This service is using <a href=https://github.com/mosuke5/atp_scraper target="_blank">AtpScraper</a>.</p>
</div>

<h1>Analysis</h1>
<div class="row">
  <%= render 'analysis_result', { result: @ranking_vs_top10, title: 'vs Top10', name: 'top10' } %>
  <%= render 'analysis_result', { result: @ranking_vs_higher, title: 'vs Higher', name: 'higher' } %>
  <%= render 'analysis_result', { result: @ranking_vs_lower, title: 'vs Lower', name: 'lower' } %>
</div>

<h1>Players</h1>
<div id="player-list">
  <form class="form-inline form-player-search">
    <div class="form-group">
      <input class=" col-xs-3 search form-control" placeholder="Player Search">
    </div>
  </form>
  <ul class="list">
    <% @players.each do |player| %>
    <li>
      <%= link_to(player.name, "/player/#{player.url_name}", { class: "player-name" }) %> (<%= player.url_id %>)
    </li>
    <% end %>
  </ul>
</div>
