<h1 class="page-header"><%= @player %>'s Activity <%= @year %></h1>
<div class="activity-section">
  <h2>vs Top10</h2>
  <%= render 'activity', activities: @activities_vstop10 %>
</div>
<div class="activity-section">
  <h2>vs Higer Ranking</h2>
  <%= render 'activity', activities: @activities_higher %>
</div>
<div class="activity-section">
  <h2>vs Lower Ranking</h2>
  <%= render 'activity', activities: @activities_lower %>
</div>
<div class="activity-section">
  <h2>all</h2>
  <%= render 'activity', activities: @activities %>
</div>
